<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>WordPics</title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Vue library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.min.js"></script>

    <style type="text/css">
      html {
        margin: 0;
        padding: 0;
      }
      body {
        padding: 8px;
      }
      body > :nth-child(1) {
        margin-top: 0;
      }
      .form-group-table {
        display: table;
        width: 100%;
      }
      .form-label-cell {
        width: 1px;
        white-space: nowrap;
        display: table-cell;
        padding-right: 0.5em;
      }
      .form-control-cell {
        display: table-cell;
      }
    </style>

    <script type="text/javascript">
      $(function() {
        var myVue = new Vue({
          el: '#vueMain',
          data: {
            fontSize: 10,
            color: '#000000',
            alpha: 1,
            message: '01',
            defaultMessage: '01',
            textHeightPercent: 1
          },
          computed: {
            rgbaColor: function() {
              var self = this;
              return self.color.replace(/^#(\w\w)(\w\w)(\w\w)$/, function(m, r, g, b) {
                return 'rgba(' + [parseInt(r, 16), parseInt(g, 16), parseInt(b, 16), +(+self.alpha).toFixed(5)].join(', ') + ')';
              });
            }
          },
          methods: {
            handleFile: function() {
              console.log('handleFile');
              var self = this;
              var files = $('#fileImage')[0].files;
              if (files && files[0]) {
                var file = files[0];
                var reader = new FileReader();

                reader.addEventListener('load', function () {
                  $('#imagePlaceholder').html('').append(createTextImageCanvas(
                    reader.result,
                    self.rgbaColor,
                    +self.fontSize || 10,
                    self.textHeightPercent,
                    function() { return self.message || self.defaultMessage; }
                  ));
                }, false);

                if (file) {
                  reader.readAsDataURL(file);
                }
              }
            }
          }
        });

        function createTextImageCanvas(url, bgColor, fontSize, textHeightPercent, getMoreText) {
          var canvas = document.createElement('canvas');
          canvas.style.cursor = 'pointer';
          canvas.addEventListener('click', function() {
            var a = document.createElement('a');
            a.href = canvas.toDataURL();
            a.target = '_blank';
            a.click();
          });

          var ctx = canvas.getContext('2d');

          var img = new Image();
          img.onload = function() {
            var w = canvas.width = img.width;
            var h = canvas.height = img.height;

            var x = 0;
            var y = Math.ceil(fontSize - fontSize * (1 - textHeightPercent));
            var textHeight = fontSize * textHeightPercent;
            
            ctx.fillStyle = ctx.createPattern(img, 'no-repeat');
            ctx.fillRect(0, 0, w, h);

            ctx.fillStyle = bgColor;
            ctx.fillRect(0, 0, w, h);

            ctx.rect(0, 0, w, h);
            ctx.fillStyle = ctx.createPattern(img, 'no-repeat');
            ctx.font = 'bold ' + fontSize + 'px "monospace", "courier", "courier new"';

            var text, textWidth, skipGetText = false;
            do {
              if (!skipGetText) {
                text = getMoreText();
              }
              ctx.fillText(text, x, y);
              textWidth = ctx.measureText(text).width;
              x += textWidth;
              if (skipGetText = (x > w)) {
                x -= textWidth + w;
                y = Math.ceil(y + textHeight);
              }
            } while(y - textHeight <= h);
          };
          img.src = url;

          return canvas;
        }
      });
    </script>
  </head>
  <body>
    <h1>WordPics</h1>

    <div id="vueMain">
      <div class="form-group form-group-table">
        <div class="form-label-cell">
          <label for="txtMessage">Message:</label>
        </div>
        <div class="form-control-cell">
          <input id="txtMessage" type="text" class="form-control" v-model="message" v-bind:placeholder="defaultMessage" v-on:input="handleFile" />
        </div>
      </div>

      <div class="form-group form-group-table">
        <div class="form-label-cell">
          <label for="inputColor">Color:</label>
        </div>
        <div class="form-label-cell" style="font-weight: normal;">
          {{ rgbaColor }}
        </div>
        <div class="form-control-cell">
          <input id="inputColor" type="color" v-model="color" v-on:input="handleFile" />
        </div>
      </div>

      <div class="form-group form-group-table">
        <div class="form-label-cell">
          <label for="inputAlpha">Alpha:</label>
        </div>
        <div class="form-label-cell" style="font-weight: normal;">
          {{ Math.round(100 * alpha) }}%
        </div>
        <div class="form-control-cell">
          <input id="inputAlpha" type="range" min="0" max="1" step="0.01" v-model="alpha" v-on:input="handleFile" />
        </div>
      </div>

      <div class="form-group form-group-table">
        <div class="form-label-cell">
          <label for="inputFontSize">Font Size:</label>
        </div>
        <div class="form-label-cell" style="font-weight: normal;">
          {{ fontSize }}px
        </div>
        <div class="form-control-cell">
          <input id="inputFontSize" type="range" min="5" max="20" step="1" v-model="fontSize" v-on:input="handleFile" />
        </div>
      </div>

      <div class="form-group form-group-table">
        <div class="form-label-cell">
          <label for="inputTextHeight">Text Height:</label>
        </div>
        <div class="form-label-cell" style="font-weight: normal;">
          {{ +(textHeightPercent * fontSize).toFixed(5) }}px
        </div>
        <div class="form-control-cell">
          <input id="inputTextHeight" type="range" min="0.1" max="1" step="0.05" v-model="textHeightPercent" v-on:input="handleFile" />
        </div>
      </div>

      <div><input id="fileImage" type="file" accept="image/png, image/jpeg" v-on:change="handleFile" /></div>

      <div id="imagePlaceholder"></div>
    </div>
  </body>
</html>
